<!DOCTYPE html>
<html>
	<head>
		<title>Result Page</title>
	</head>
	<body>
		<div id="result-data">{{ result }}</div>
		<img id="plot1" src="data:image/png;base64,{{ plot_data }}" alt="My Plot" />
		<img id="plot2" src="data:image/png;base64,{{ bar_data }}" alt="My Plot" />
		<img
			id="plot3"
			src="data:image/png;base64,{{ heart_rate_data }}"
			alt="My Plot" />
		<img
			id="plot4"
			src="data:image/png;base64,{{ pulse_rate_data }}"
			alt="My Plot" />
		<img
			id="plot5"
			src="data:image/png;base64,{{ temperature_data }}"
			alt="My Plot" />
		<img
			id="plot6"
			src="data:image/png;base64,{{ respiratory_data }}"
			alt="My Plot" />
		<img
			id="plot7"
			src="data:image/png;base64,{{ saturation_data }}"
			alt="My Plot" />
		<img id="plot8" src="data:image/png;base64,{{ pH_data }}" alt="My Plot" />
	</body>
</html>
